# Python
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# MacOS
.DS_Store

# Logs
*.log

# IDE files
.vscode/
.idea/

# TensorFlow/Keras model file (if you want to exclude it)
*.keras

# Other system-specific files
Thumbs.db
